@import '../../../styles/styles.scss';

.form__socials {
  display: flex;
  flex-direction: column;
}

.form__btn {
  background-color: $green;
  padding: 1.5rem 2rem;
  border: none;
  text-align: center;
  border-radius: $border-radius;
  width: 100%;
  color: white;
  transition: 0.3s;

  &:hover {
    background-color: $green-dark;
  }
}

.btn__social {
  border: 0.1rem solid $grey;
  background-color: white;
  margin-bottom: 1.5rem;
  font-weight: 200;
  color: black;
  border-radius: 0;
  position: relative;

  &:hover {
    background-color: #f9f9f9;
  }

  &::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0.75rem;
  }
}

.btn__google {
  &::before {
    background-image: url('/google-logo.svg');
    left: 1.5rem;
    width: 28px;
    height: 28px;
  }
}

.btn__facebook {
  &::before {
    background-image: url('/facebook-logo.svg');
    left: 2rem;
    width: 14px;
    height: 28px;
  }
}
