@import '../../../styles/styles.scss';
$border-radius: 0.5rem;

.status {
  background-color: $green-light;
  padding: 2rem 3rem;
  margin-bottom: 7rem;
}

.form__switch {
  margin-left: 3rem;

  .place__label {
    @include text-detail;
    text-transform: uppercase;
  }
}

.themes {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: $grid-gap;
  margin-bottom: 1rem;
}

.location {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-column-gap: $grid-gap;

  & > div {
    margin-top: 2rem;
  }
}
