@import '../../../styles/styles.scss';
$border-radius: 0.5rem;

.status {
  background-color: $green-light;
  padding: 2rem 3rem;
  margin-bottom: 7rem;
}

.field__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &.field__wrapperRow {
    flex-direction: row;
    align-items: center;
  }
}

.form__switch {
  margin-left: 3rem;

  .place__label {
    @include text-detail;
    text-transform: uppercase;
  }
}

.themes {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: $grid-gap;
  margin-bottom: 1rem;
}

.location {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: $grid-gap;

  & > div {
    margin-top: 2rem;
  }

  .city {
    grid-column: span 6;
  }

  .street {
    grid-column: span 4;
  }

  .number {
    grid-column: span 2;
  }
}
