@import '../../../styles/styles.scss';

.spotlight {
  background-color: $green;
  grid-column: span 12;
  margin-top: -5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url(/spotlight-el.svg);
    background-repeat: no-repeat;
    background-color: $green;
    left: 0;
    top: 0;
    height: 100%;
    width: calc(100% + ((100vw - #{$container})) / 2);
    z-index: 0;
  }
}

.spotlight__intro {
  grid-column: 2 / span 4;
  padding: 0 4rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;

    span {
      color: white;
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;

    p {
      font-size: 1.8rem;
      font-weight: 600;

      span {
        font-size: 2.4rem;
      }
    }

    .arrow__flipped {
      transform: rotate(180deg);
    }
  }
}

.spotlight__item {
  grid-column: span 7;
  display: flex;
  z-index: 1;

  .item__banner {
    margin-top: -7rem;
    margin-right: 3rem;
  }

  .item__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .item__title {
    @include title-two;
  }

  .item__person {
    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
    }

    p {
      font-weight: 600;
      padding-left: 1rem;
    }
  }
}

.test {
  display: flex;
}
