@import '../../../styles/styles.scss';

.footer {
  position: relative;
  padding: 3rem 0;
  margin: 12rem 0 4rem;

  &::before {
    position: absolute;
    top: 0;
    content: '';
    height: 0.1rem;
    width: 100%;
    background-color: $blue-light;
  }

  &::after {
    position: absolute;
    content: '';
    height: 0.1rem;
    width: 100%;
    background-color: $blue-light;
    left: 0;
    bottom: 0;
  }

  .contact {
    display: flex;
    align-items: center;
    grid-column: span 8;

    p {
      @include text-small;
      width: 25rem;
      margin-left: 2rem;
    }
  }

  .date {
    // margin-left: auto;
    @include text-detail;
    grid-column: span 4;
    text-align: right;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
