@import '../../../styles/styles.scss';

.footer {
  display: flex;
  position: relative;
  padding: 3rem 0;
  align-items: center;

  &::before {
    position: absolute;
    top: 0;
    content: '';
    height: 0.1rem;
    width: 100%;
    background-color: $blue-light;
  }

  &::after {
    position: absolute;
    content: '';
    height: 0.1rem;
    width: 100%;
    background-color: $blue-light;
    left: 0;
    bottom: 0;
  }

  .contact {
    display: flex;
    align-items: center;
    margin-right: 5rem;
    grid-column: span 10;

    p {
      @include text-small;
      width: 25rem;
      margin-left: 2rem;
    }
  }

  .date {
    margin-left: auto;
    @include text-detail;
    grid-column: span 2;
    text-align: right;
  }
}
