@import '../../../styles/styles.scss';

$points-distance: 3rem;
$point-size: 1rem;

@mixin point {
  position: absolute;
  content: '';
  height: $point-size;
  width: $point-size;
  background: rgb(190, 229, 223);
  border-radius: 50%;
  top: -$points-distance;
}

.subtitle {
  @include title-two;
}

.status {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $grid-gap;
  margin-bottom: 5rem;

  & > div {
    background: $green-extra-light;
    padding: 3rem;
  }
}

.buttons {
  margin-top: 3rem;
  display: flex;
  align-items: center;

  & > * {
    margin-right: 3rem;
  }
}

.location {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-column-gap: $grid-gap;

  & > div {
    margin-top: 2rem;
  }
}

.dates {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $grid-gap;
}

.deactivate {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .info {
    max-width: 50rem;
  }

  .button {
    @include button;

    &.buttonRed {
      background-color: $red;

      &:hover {
        background-color: $red;
      }
    }
  }
}
