@import '../../../styles/styles.scss';

.textfield {
  @include textfield;
}

.forgot {
  @include text-small;
  padding-top: 1rem;
  border: none;
  background-color: transparent;
  text-align: left;

  &:hover {
    cursor: pointer;
    color: $green;
  }
}

.title {
  @include title-two;
  margin-bottom: 2rem;
}
