@import '../../../styles/styles.scss';

.wrapper {
  grid-column: 2 / span 9;
}

.title {
  @include title-two;
  margin-bottom: 2rem;
}

.textfield {
  @include textfield;
  margin: 2rem 0 !important;
}

.forgot {
  @include text-small;
  padding-top: 1rem;
  border: none;
  background-color: transparent;
  text-align: left;

  &:hover {
    cursor: pointer;
    color: $green;
  }
}
