@import '../../../styles/styles.scss';

.img {
  grid-column: 1 / span 4;
  position: relative;

  & div {
    background: $green;
    position: absolute;
    height: calc(100% + (#{$modal-spacing-large} * 2));
    width: calc(100% + #{$modal-spacing-large});
    top: -$modal-spacing-large;
    left: -$modal-spacing-large;
    background-image: url('/ondersteuningen2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &::after {
      content: '';
      position: absolute;
      background-image: url('/ondersteuningen-kegel.png');
      background-size: contain;
      background-repeat: no-repeat;
      right: -4.5rem;
      bottom: 50%;
      height: 6rem;
      width: 8rem;
    }
  }
}

.text {
  grid-column: 5 / span 8;
}

.buttons {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;

  .button {
    @include button;

    &.buttonSubmit {
      margin-left: auto;
    }
  }
}
