@import '../../../styles/styles.scss';
$border-radius: 0.5rem;

.card {
  border: 0.1rem solid $blue-light;
  border-radius: $border-radius;
  text-decoration: none;
  color: $blue-dark;
  display: grid;
  grid-template-columns: 2fr 3fr;

  .thumbnail {
    border-radius: $border-radius $border-radius 0 0;
    position: relative;

    .image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .icons {
      position: absolute;
      background: $red;
      right: 1.5rem;
      top: 1.5rem;
      border-radius: $border-radius;
      display: flex;
      padding: 0.3rem 0.5rem;

      img {
        display: block;
        padding: 0.3rem;
        transform: scale(1.1);
      }
    }
  }

  .content {
    padding: 2rem;

    .title {
      @include title-small;
      margin-bottom: 0.5rem;
    }

    .status {
      @include text-small;
      font-size: 1.2rem;
      color: $green;

      span {
        font-weight: 600;
      }
    }

    .intro {
      margin-bottom: 2rem;
      font-size: 1.4rem;
    }

    .stats {
      @include text-detail;
      font-size: 1.2rem;
      display: flex;
      justify-content: space-between;
    }
  }
}
