@import '../../../styles/styles.scss';
$border-radius: 0.5rem;

.admin {
  height: 100vh;
}

.content {
  padding: 5rem;
  padding-bottom: 4rem;
  margin-left: 28rem;
  width: calc(100% - 28rem);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;

  .header__left {
    display: flex;

    .title {
      @include title-two;
      margin-right: 2.5rem;
      margin-bottom: 0.75rem;
    }

    span {
      border: 0.1rem solid $green;
      border-radius: $border-radius;
      display: inline-block;
      padding: 0.4rem 1rem;
      color: $green;
      font-size: 1.2rem;
      font-weight: 600;
      height: 3rem;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 18rem 1fr;

  .table {
    width: 100%;
    height: 76vh;
  }
}

.tab {
  color: $blue-dark;
  padding: 1rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;

  .number {
    color: $green;
    padding: 0.5rem 1rem;
    border: 0.1rem solid #d4eeea;
    border-radius: 0.4rem;
    font-size: 1.2rem;
  }
}

.selected {
  background-color: $green-extra-light;
  font-weight: 500;
  border-radius: 0.4rem;

  .number {
    background-color: #d4eeea;
  }
}

.header__detail {
  flex-direction: column;

  a {
    font-size: 1.4rem;
    text-decoration: none;

    &:hover {
      color: $green;
    }
  }
}
