@import '../../../styles/styles.scss';

.header {
  width: 100%;
  position: absolute;
  z-index: 20;
  padding: 3rem 5rem 0 4rem;

  .logo {
    left: 3vw;
    top: 3vh;
    z-index: 20;
    position: fixed;

    &:hover {
      cursor: pointer;
    }
  }

  .close {
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
    color: $blue-dark;
    transition: 0.2s;
    position: absolute;
    display: flex;
    margin-top: 1rem;
    right: 3vw;

    &::before {
      position: absolute;
      content: '';
      height: 2rem;
      width: 2rem;
      left: -3rem;
      background-repeat: no-repeat;
      background-image: url('/icons/close-blue.svg');
      background-position: center;
    }

    &:hover {
      color: $green;
    }
  }
}
