$yellow: #ffed00;
$yellow-light: #fefcdd;

$green: #54bbab;
$green-light: #d8eded;
$green-dark: #369283;

$red: #e62336;
$red-light: #f6dfe1;

$blue-dark: #0c1424;
$blue-light: #e1e2e7;

$grey: #d8d8d8;
$grey-border: #e7e8e9;
