@mixin tag {
  font-family: $font-body;
  background-color: $green-light;
  color: $green;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
}

@mixin pfp-small {
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}

// button, label, ...
