@mixin tag {
  font-family: $font-body;
  background-color: $green-light;
  color: $green;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
}

@mixin pfp-small {
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  background-color: white;
}

@mixin form__label {
  font-weight: 600;
  font-size: 1.2rem;
}

@mixin form__input {
  border: $border;
  padding: 1.5rem 2rem;
  font-weight: 300;
  font-size: 1.4;

  &:focus {
    border-color: $green;
  }
}

@mixin pfp-large {
  height: 4.3rem;
  width: 4.3rem;
  object-fit: cover;
  border-radius: 50%;
  background-color: white;
}

@mixin button {
  background-color: $green;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: $border-radius;
  color: white;
  font-size: 1.4rem;
  transition: 0.3s;
  font-family: $font-body;
  letter-spacing: 0.05rem;

  &:hover {
    background-color: $green-dark;
    cursor: pointer;
  }

  &:disabled {
    background-color: $green-light;

    &:hover {
      background-color: $green-light;
      cursor: default;
    }
  }
}

@mixin buttonOutline {
  background: transparent;
  border: 0.1rem solid $grey;
  color: $blue-dark;

  &:hover {
    background: $grey;
    color: $blue-dark;
  }
}

@mixin buttonSecondary {
  background: transparent;
  color: $blue-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.5rem 0;

  &::after {
    position: absolute;
    content: '';
    height: 0.1rem;
    width: 100%;
    background: $green;
    bottom: 0;
  }

  &:not(:disabled):hover {
    font-weight: 600;
    background: transparent;
    &::after {
      height: 0.2rem;
    }
  }

  &:disabled {
    background: transparent;
    opacity: 0.3;

    &:hover {
      background: transparent;
    }
  }
}

@mixin appbar {
  grid-column: span 12;
  margin: 0;

  div {
    height: 8rem;
    position: relative;

    span {
      padding: 0.15rem;
    }
  }
}

@mixin tab-line {
  background-color: $grey;
  height: 0.1rem;
  width: 100vw;
}

@mixin tab-lineTop {
  margin-top: 5rem;
}

@mixin tab-lineBottom {
  margin-bottom: 5rem;
}

// @mixin textfield {
//   color: $blue-dark;
//   font-size: 1.6rem;
//   font-weight: 300;

//   & fieldset {
//     border-color: $blue-light !important;
//   }

//   &:hover fieldset {
//     border-color: $green !important;
//   }

//   label {
//     color: $blue-dark;
//     font-size: 1.6rem;
//     font-weight: 300;
//     letter-spacing: 0.1rem;
//   }

//   legend {
//     font-size: 1.2rem;
//     letter-spacing: 0.1rem;
//   }

//   input[type='text'] {
//     font-size: 1.6rem;
//     font-weight: 300;
//     font-family: $font-body;
//   }
// }

// .imageStep1 {
//   &::after {
//     background: url('/create/create-7.png');
//   }
// }

.step1 {
  &::after {
    background: url('/create/create-1.png');
  }
}

.step2 {
  &::after {
    background: url('/create/create-2.png');
  }
}

.step3 {
  &::after {
    background: url('/create/create-3.png');
  }
}

.step4 {
  &::after {
    background: url('/create/create-4.png');
  }
}

.step5 {
  &::after {
    background: url('/create/create-5.png');
  }
}

.step6 {
  &::after {
    background: url('/create/create-6.png');
  }
}

.step7 {
  &::after {
    background: url('/create/create-7.png');
  }
}

.step8 {
  &::after {
    background: url('/create/create-8.png');
  }
}
