@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto+Mono:wght@300&display=swap');

$font-title: 'Montserrat', sans-serif;
$font-body: 'Montserrat', sans-serif;
$font-accent: 'Roboto Mono', monospace;
