@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');
@import 'styles.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

.hidden {
  display: none;
}

body {
  line-height: 1.5;
  color: $blue-dark;
  @include text-body;
}

::placeholder {
  color: $grey;
  font-family: $font-body;
}

input[type='text'] {
  font-family: $font-body;
}

textarea {
  font-family: $font-body;
  width: 100%;
}

::selection {
  background: $green-light;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  font-family: $font-body;

  &:hover {
    cursor: pointer;
  }
}

a {
  color: $blue-dark;

  &:hover {
    cursor: pointer;
  }
}

.appbarReverse {
  .MuiTabs-flexContainer {
    justify-content: flex-end !important;
  }

  .element {
    left: 0;
    max-width: 15rem;
  }
}

.quill {
  margin-top: 1rem;
  .ql-editor {
    font-family: $font-body;

    padding: 2.5rem !important;

    h1 {
      font-weight: 700;
    }

    h2 {
      font-weight: 500;
    }

    p {
      font-size: 1.6rem;
      line-height: 1.7;
    }

    h1 + p,
    h2 + p,
    p + p,
    h1 + h1,
    h1 + h2,
    h2 + h2,
    h2 + h1 {
      margin-top: 1rem;
    }

    p + h1,
    p + h2 {
      margin-top: 2rem;
    }

    p > img {
      margin: 1rem 0;
      max-height: 40rem;
      width: auto;
    }
  }
  .ql-container {
    &.ql-snow {
      border: $border;
    }
  }

  .ql-toolbar {
    &.ql-snow {
      border: $border;
    }
  }
}
