@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');
@import 'styles.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

.hidden {
  display: none;
}

body {
  line-height: 1.5;
  color: $blue-dark;
  @include text-body;
}

::placeholder {
  color: $grey;
  font-family: $font-body;
}

input[type='text'] {
  font-family: $font-body;
}

textarea {
  font-family: $font-body;
  width: 100%;
}

::selection {
  background: $green-light;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
