@import '../../../styles/styles.scss';
$border-radius: 0.5rem;

.about {
  grid-column: span 12;
  margin-top: 18rem;
  position: relative;

  .title {
    @include title-one;
    width: 20%;
    font-weight: 500;
    line-height: 1.2;

    span {
      font-weight: 700;
    }
  }

  .content {
    grid-column: span 5;
  }

  .organisations {
    grid-column: 8 / span 5;

    .subtitle {
      @include title-three;
      font-weight: 700;
    }

    img {
      padding-bottom: 0.5rem;
      margin-right: 1.5rem;
    }
  }

  p {
    margin-bottom: 2.5rem;
  }
}

.letters {
  position: relative;
  width: 100%;

  &::before {
    position: absolute;
    content: '';
    background-image: url('/letters/Uhome.png');
    height: 14rem;
    width: 70rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    top: 10vh;
    right: 0;
    z-index: 0;
  }
}
