@import '../../../styles/styles.scss';

.button {
  @include button;
}

.buttonOutline {
  background: transparent;
  border: 0.1rem solid $green;
  color: $blue-dark;

  &:hover {
    background: $green;
    color: white;
  }
}

.buttonSecondary {
  background: transparent;
  color: $blue-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.5rem 0;

  &::after {
    position: absolute;
    content: '';
    height: 0.1rem;
    width: 100%;
    background: $green;
    bottom: 0;
  }

  &:hover {
    font-weight: 600;
    background: transparent;
    &::after {
      height: 0.2rem;
    }
  }
}
