@import '../../../styles/styles.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 5vw 1rem;
  position: fixed;
  background-color: white;
  z-index: 999;
}

.header__dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 5vw 1rem;
  position: fixed;
  background-color: $blue-dark;
}

.menu {
  display: flex;
  align-items: center;
  margin: 0 3rem;
}

.menu__item {
  text-decoration: none;
  color: $blue-dark;
  margin-right: 4rem;
  font-size: 1.2rem;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    color: $red;
  }
}

.active {
  color: $red;
  //border-right: 0.3rem solid $green-dark;
  font-weight: 700;
}

.header__dark .menu__item {
  color: white;
}

.header__left {
  display: flex;
}

.header__right {
  display: flex;
  align-items: center;

  img {
    margin-right: 2rem;
  }

  svg {
    margin-right: 2rem;
  }

  .notif {
    margin-top: 1rem;

    &.unread {
      &::before {
        height: 1rem;
        width: 1rem;
        content: '';
        position: absolute;
        background-color: $red;
        top: 1.6rem;
        z-index: 100;
        left: 2.3rem;
        border-radius: 50%;
      }
    }
  }

  .admin__notif {
    width: 2.1rem;
    height: 2.1rem;
    position: relative;
  }

  .admin__notif:hover path {
    stroke: $green;
  }

  .admin__icon:hover path {
    stroke: $green;
  }

  .menu__pfp {
    border-radius: 50%;
    //background-color: rgb(240, 240, 240);
    background-color: white;
  }
}

.header__dark .header__right .admin__notif path {
  stroke: white;
}

.header__dark .header__right .admin__icon path {
  stroke: white;
}

.header__dark .header__right .admin__notif:hover path {
  stroke: $green;
}

.header__dark .header__right .admin__icon:hover path {
  stroke: $green;
}

.submenu li {
  font-size: 1.4rem;
}

.notifications > div {
  font-size: 1.4rem;
  padding: 0.75rem;

  .title {
    @include text-detail;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 0 0 1rem 1rem;
  }

  .empty {
    padding: 2rem;
    opacity: 0.5;
  }
}
