@import '../../../styles/styles.scss';

.likes {
  @include text-detail;
  border: none;
  background-color: transparent;

  &.small {
    font-size: 1.2rem;
  }

  img {
    margin-right: 1rem;
    transform: translateY(-0.2rem);
  }

  display: flex;
  align-items: center;
}
