@import '../../styles/styles.scss';

.projects {
  padding-top: 15rem;
}

.masonry {
  grid-column: span 12;
  display: flex;

  .column:first-of-type {
    margin-right: $grid-gap;
  }
}

.title {
  @include title-one;
  margin: 0;
  padding: 0;
}
