@import '../../styles/styles.scss';

.milestones {
  padding-top: 22rem;
  margin-bottom: 15rem;
  // background-image: url('/milestone.png');
  // background-size: 60%;
  // background-repeat: no-repeat;
  // background-position: top 100px right;

  position: relative;

  &::after {
    position: absolute;
    content: '';
    height: 71rem;
    width: 52vw;

    left: 48vw;
    top: 10rem;
    z-index: 1;

    background-image: url('/milestone.png');
    background-size: 120rem;
    background-repeat: no-repeat;
  }

  .content {
    grid-column: span 6;
    z-index: 5;

    .title {
      @include title-one;
      line-height: 1.3;
    }

    p {
      width: 80%;
    }

    .buttons {
      display: flex;

      button {
        margin-right: 3rem;
      }
    }
  }

  .milestone__bar {
    width: 80%;
    margin: 3rem 0;
    position: relative;

    &:after {
      content: '🏁';
      position: absolute;
      right: 0;
    }
  }
}

.projects {
  padding-top: 15rem;
}

.masonry {
  grid-column: span 12;
  display: flex;

  .column:first-of-type {
    margin-right: $grid-gap;
  }
}

.title {
  @include title-one;
  margin: 0 2rem 0 0;
  padding: 0;
}
