@import '../../../styles/styles.scss';

.title {
  @include title-one;
}

.subtitle {
  @include title-three;
}

.requirements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $grid-gap;

  .requirement {
    margin: 1rem 0;
    border: $border;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    font-weight: 500;
    font-size: 1.4rem;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      border: 0.1rem solid $green;
    }

    &.requirementChecked {
      border: 0.2rem solid $green;
    }
  }
}

.circle {
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-size: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.service {
    background-color: $green-light;

    &::before {
      background: url('/icons/service-green.svg');
    }
  }

  &.material {
    background-color: $red-light;

    &::before {
      background: url('/icons/material-red.svg');
    }
  }

  &.money {
    background-color: $yellow-light;

    &::before {
      background: url('/icons/money-yellow.svg');
    }
  }
}
