@import '../../../styles/styles.scss';

.subtitle {
  @include title-two;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.items {
  margin-left: 3rem;

  .item {
    margin-bottom: 3rem;
    display: flex;
    img {
      width: rem;
      margin-right: 5rem;
    }

    p {
      max-width: 35rem;
    }
  }
}
