@import '../../../styles/styles.scss';

.subtitle {
  @include title-two;
  margin-bottom: 2rem;
}

.items {
  margin-left: 6rem;

  .item {
    margin-bottom: 2rem;
    img {
      width: 5rem;
      margin-right: 5rem;
    }

    p {
      max-width: 25rem;
    }
    display: flex;
  }
}
