@import '../../../styles/styles.scss';

.requirements {
  grid-column: span 12;

  .requirement {
    border: 0.1rem solid $grey-border;
    padding: 3.5rem;
    margin-bottom: 5rem;

    .content {
      grid-column: span 10;

      .title {
        font-weight: 600;
        margin-bottom: 2rem;
      }

      .progress {
        margin-bottom: 3rem;

        .text {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;
          @include text-detail;
        }
      }

      .wrapper {
        display: grid;
        grid-template-columns: 50% 40%;
        grid-gap: 8rem;

        .list__item {
          @include text-small;
          margin-bottom: 2rem;

          h3 {
            font-weight: 700;
          }
        }
      }

      .completed {
        text-decoration: line-through;
        color: $green;
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      margin-top: 4rem;
    }
  }
}
