@import '../../../styles/styles.scss';

.title {
  @include title-one;
}

.subtitle {
  @include title-three;
}

.info {
  margin-bottom: 2rem;
}

.textfield__street {
  grid-column: span 8;
}

.textfield__number {
  grid-column: span 4;
}

.place {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & p {
    @include title-small;
  }

  .place__label {
    @include text-detail;
    text-transform: uppercase;
  }
}
