@import '../../styles/styles.scss';

.footer {
  background-color: $green;
  color: $blue-dark;
  font-weight: 400;
  position: relative;
  margin-top: 10rem;

  &::before {
    content: '';
    position: absolute;
    background-image: url(/spotlight-el.svg);
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    height: 100%;
    width: 140%;
    transform: rotate(180deg);
  }

  .footer__wrapper {
    padding: 6rem 0;
  }

  .sitemap {
    grid-column: 3 / span 3;
    display: flex;
    flex-direction: column;

    .menu__item {
      margin-bottom: 0.5rem;
    }
  }

  .contact {
    grid-column: 7 / span 6;

    .email {
      color: white;
    }

    .newsletter {
      margin-top: 4rem;
    }
  }
}

.subfooter {
  grid-column: span 12;
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;

  .socials {
    display: flex;

    img {
      margin-right: 2rem;
    }
  }

  .info {
    text-align: right;

    span {
      margin-left: 2rem;
    }
  }
}

.title {
  font-weight: 700;
  margin-bottom: 2rem;
  color: white;
}

.input {
  padding: 1rem 1.5rem;
  border: 0.1rem solid white;
  margin-top: 1rem;
  width: 70%;
  color: white;
  background: transparent;
  z-index: 2;
}

.button {
  background-color: white;
  color: $green;
  border: none;
  padding: 1rem 1.5rem;
  margin-left: 1rem;
}
