@import '../../../styles/styles.scss';

.label__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form__switch {
  margin-left: 3rem;

  .place__label {
    @include text-detail;
    text-transform: uppercase;
  }
}
