@import '../../../styles/styles.scss';
$border-radius: 0.5rem;

.card {
  grid-column: span 4;
  border: 0.1rem solid $blue-light;
  border-radius: $border-radius;
  text-decoration: none;
  color: $blue-dark;

  .thumbnail {
    border-radius: $border-radius $border-radius 0 0;
    position: relative;

    .image {
      height: 22rem;
      width: 100%;
      object-fit: cover;
    }

    .icons {
      position: absolute;
      background: $red;
      right: 1.5rem;
      top: 1.5rem;
      border-radius: $border-radius;
      display: flex;
      padding: 0.3rem 0.5rem;

      img {
        display: block;
        padding: 0.3rem;
        transform: scale(1.1);
      }
    }
  }

  .content {
    padding: 2rem;

    .title {
      @include title-small;
      margin-bottom: 0.5rem;
    }

    .date {
      @include text-detail;
      font-size: 1.2rem;
    }

    .intro {
      margin-bottom: 2rem;
      font-size: 1.4rem;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1.2rem;
      text-transform: capitalize;

      .tag {
        @include tag;
        margin-right: 0.7rem;
        margin-bottom: 0.7rem;
      }
    }

    .stats {
      @include text-detail;
      font-size: 1.2rem;
      display: flex;
      justify-content: space-between;
    }
  }
}
