@import '../../../styles/styles.scss';

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: $grid-gap;
}

.item {
  background: $green-light;
  padding: 1.2rem 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;

  .text {
    margin-left: 2rem;
    .category {
      @include text-detail;
      color: $green;
    }
  }

  .delete {
    display: block;
    margin-left: auto;
  }
}
