@import '../../../styles/styles.scss';
$border-radius: 0.5rem;

.projects {
  grid-column: span 7;

  .header {
    display: flex;
    justify-content: space-between;
  }
}

.title {
  @include title-two;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.card {
  border: 0.1rem solid $blue-light;
  border-radius: $border-radius;
  padding: 2rem;

  .subtitle {
    font-weight: 600;
    padding-bottom: 1.5rem;
    margin-top: 2rem;
  }

  .activity {
    .name {
      @include text-detail;
      font-weight: 600;
      color: $blue-dark;
      line-height: 1;
      display: flex;

      p {
        margin-right: 0.5rem;
      }
    }

    .offer {
      @include text-detail;
      line-height: 1.2;
      display: flex;
    }
  }

  .buttons {
    margin-top: 2rem;

    button {
      margin-right: 2rem;
    }
  }
}

.pagination {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  justify-content: space-between;
  align-items: center;
  width: 20%;

  button {
    border: none;
    background-color: transparent;
  }

  p {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    grid-column: 2 / 3;

    span {
      font-size: 2.4rem;
    }
  }

  .arrow__flipped {
    transform: rotate(180deg);
  }
}
