@import '../../../styles/styles.scss';
$spacing-top: 3rem;

.text__wrapper {
  grid-column: span 7;

  .impact {
    background: $green-extra-light;
    padding: 3rem;
    margin-bottom: 5rem;
  }

  .buttons {
    margin: 5rem 0 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {
      display: flex;
      align-items: center;

      & div {
        margin-left: 3rem;
      }
    }
  }
}

.details {
  grid-column: 9 / span 4;

  .creator__wrapper {
    margin-bottom: 2rem;

    .creator__title {
      @include title-two;
    }

    .creator {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 2rem;

      .name__wrapper {
        display: flex;
        align-items: center;
      }

      .creator__name {
        line-height: 1.2;
        font-weight: 600;
        margin-right: 1rem;
      }

      .creator__organisation {
        font-weight: 300;
      }

      .people__image {
        @include pfp-large;
        margin-right: 2rem;
      }
    }
  }

  .helpers {
    margin-top: 5rem;

    .helpers__title {
      @include title-two;
    }

    .helpers__subtitle {
      margin-bottom: 3rem;
    }

    .helper {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      .name__wrapper {
        display: flex;
        align-items: center;

        .helper__name {
          font-weight: 600;
          line-height: 1.2;
          margin-right: 1rem;
        }
      }
    }
  }
}

.image {
  @include pfp-large;
  margin-right: 2rem;
}
