@import '../../../styles/styles.scss';

.title {
  @include title-one;
}

.subtitle {
  @include title-three;

  // .textfield {
  //   margin-top: 5rem !important;
  // }
}

.items {
  margin-left: 6rem;

  .item {
    margin-bottom: 2rem;
    img {
      width: 5rem;
      margin-right: 5rem;
    }

    p {
      max-width: 25rem;
    }
    display: flex;
  }
}

.textfield__street {
  grid-column: span 8;
}

.textfield__number {
  grid-column: span 4;
}

.place {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & p {
    @include title-small;
  }

  .place__label {
    @include text-detail;
    text-transform: uppercase;
  }
}
