@import '../../../styles/styles.scss';

.images {
  grid-column: span 6;
  margin-right: 5rem;
  margin-top: 14rem;
  width: 100%;
  background-size: cover;
}

.content {
  grid-column: span 6;
  padding-top: 14rem;

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    text-transform: capitalize;

    .tag {
      @include tag;
      margin-right: 0.7rem;
      margin-bottom: 0.7rem;
    }
  }

  .text {
    padding-right: 6rem;
    margin-bottom: 3rem;

    .title {
      font-size: 3.2rem;
      line-height: 1.5;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .location {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      img {
        margin-right: 1rem;
      }

      p {
        font-size: 1.4rem;
        font-weight: 500;
        color: $green;
      }
    }
  }

  .help {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $grid-gap;
    margin-bottom: 4rem;

    .item {
      padding: 2.5rem 1.5rem;
      text-align: center;
      border: $border;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .info {
        font-family: $font-accent;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin-bottom: 1.8rem;
      }

      .item__btn {
        font-size: 1.2rem;
        font-weight: 500;
      }

      .circle {
        height: 6.5rem;
        width: 6.5rem;
        border-radius: 50%;
        margin-bottom: 2rem;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          background-repeat: no-repeat;
          background-size: 2rem;
          height: 2rem;
          width: 2rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &.service {
          background-color: $green-light;
          border: 0.3rem solid $green;

          &::before {
            background: url('/icons/service-green.svg');
          }
        }

        &.material {
          background-color: $red-light;
          border: 0.3rem solid $red;

          &::before {
            background: url('/icons/material-red.svg');
          }
        }

        &.money {
          background-color: $yellow-light;
          border: 0.3rem solid $yellow;

          &::before {
            background: url('/icons/money-yellow.svg');
          }
        }
      }
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .interact {
      display: flex;
      & > div {
        margin-left: 3rem;
      }
    }
  }
}
