@import '../../../styles/styles.scss';
$points-distance: 3rem;
$point-size: 1rem;

.header {
  padding-top: 15rem;
}
.back__btn {
  grid-column: span 12;
  font-weight: 600;
  margin-bottom: -1.5rem;
  cursor: pointer;

  a {
    text-decoration: none;
    font-size: 1.4rem;
    margin-left: 1rem;
    transition: 0.2s;

    &::before {
      content: '';
    }

    &:hover {
      color: $green;
    }
  }
}

.sidebar {
  grid-column: span 6;
  margin-right: 5rem;

  .images {
    width: 100%;
    background-size: cover;
  }
}

.content {
  grid-column: span 6;

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    text-transform: capitalize;

    .tag {
      @include tag;
      margin-right: 0.7rem;
      margin-bottom: 0.7rem;
    }

    .theme {
      @include tag;
      background-color: $green;
      color: $green-extra-light;
    }
  }

  .text {
    padding-right: 6rem;
    margin-bottom: 3rem;

    .title {
      font-size: 3.2rem;
      line-height: 1.5;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .location {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      img {
        margin-right: 1rem;
      }

      p {
        font-size: 1.4rem;
        font-weight: 500;
        color: $green;
      }
    }
  }

  .help {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $grid-gap;
    margin-bottom: 4rem;

    .item {
      padding: 2.5rem 1.5rem;
      text-align: center;
      border: $border;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .info {
        font-family: $font-accent;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin: 2rem 0 1.8rem 0;
      }

      .item__btn {
        font-size: 1.2rem;
        font-weight: 500;
      }

      .progress {
        position: relative;
        margin-bottom: 2rem;
        height: 6.5rem;
        width: 6.5rem;
        border-radius: 50%;
        background-color: $green-extra-light;

        & div {
          position: absolute;
          left: 0;
          top: 0;
        }

        & div:last-of-type {
          opacity: 0.5;
        }

        &::before {
          position: absolute;
          content: '';
          background-repeat: no-repeat;
          background-size: 2rem;
          height: 2rem;
          width: 2rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: url('/icons/service-green.svg');
        }
      }

      .circle {
        height: 6.5rem;
        width: 6.5rem;
        border-radius: 50%;
        margin-bottom: 2rem;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          background-repeat: no-repeat;
          background-size: 2rem;
          height: 2rem;
          width: 2rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &.service {
          background-color: $green-light;
          border: 0.3rem solid $green;

          &::before {
            background: url('/icons/service-green.svg');
          }
        }

        &.material {
          background-color: $red-light;
          border: 0.3rem solid $red;

          &::before {
            background: url('/icons/material-red.svg');
          }
        }

        &.money {
          background-color: $yellow-light;
          border: 0.3rem solid $yellow;

          &::before {
            background: url('/icons/money-yellow.svg');
          }
        }
      }
    }

    .item__locked {
      opacity: 0.4;

      .circle {
        &.money {
          background-color: #f9f9f9;
          border: 0.3rem solid $grey;

          &::before {
            background: url('/icons/money-grey.svg');
          }
        }
      }
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .interact {
      display: flex;
      & > div {
        margin-left: 3rem;
      }
    }
  }
}
